<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd 
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context.xsd">
   
  
    <bean id="dao" class="com.org.EmployeeDaoImpl">
   <property name="employee" ref="employee"></property>
   </bean>
   
   <bean id="employee" class="com.org.Employee">
   <property name="name" value="Navya"></property>
   <property name="id" value="1"></property>
   </bean>
   
   <bean id="employeeService" class="com.org.EmployeeServiceImpl">
   <property name="employeeDaoImpl" ref="dao"></property>
   </bean>
</beans>